annotated-types==0.6.0
greenlet==3.0.3
psycopg2-binary==2.9.9
pydantic==2.6.4
pydantic-settings==2.2.1
pydantic_core==2.16.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.29
time-machine==2.14.1
typing_extensions==4.11.0
tzdata==2024.1
